<div class="l">
  <h1>EmberOONI</h1>

  <main class="main">
    {{outlet}}
  </main>

  <aside class="aside">
    <h2>About</h2>
    <div>
      <h2>What is EmberOONI?</h2>
      <p>EmberOONI is a hobby project where I wanted to learn more about Ember by developing a real world app with an interesting dataset or API.</p>
      <p>This where OONI comes into play which offers a public API of interesting measurement data.</p>
      <h2>What is Ember?</h2>
      <p>EmberJS is an opinioinated web application framework.</p>
      <h2>What is OONI?</h2>
      <p>OONI is developted by the Tor project trying to meassure the state of the internet on a global scale.</p>
    </div>
  </aside>
</div>
<footer rel="">
  <p>Made by lislis</p>
  <p>Code on GitHub under GPL License</p>
</footer>
